# MySQL container bootstrap
DB_NAME=foodtracker_db
MYSQL_DATABASE=foodtracker_db
MYSQL_USER=foodtracker_user
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Admin DB user created by docker/db/init/01-create-admin-user.sh.
ADMIN_DB_USER=foodtracker_admin
ADMIN_DB_PASS=

